<div class="splash-wrapper tk-proxima-nova">
  <div class="splash">
    <img class="logo" src="/images/logo-big.png" />
    <h1>Plan your next vacation now.</h1>
    <p>
      <form action="/process" method="POST">
        <input id="destination" name="city" class="tk-proxima-nova" type="text" placeholder="Tell us where you want to go (e.g. San Francisco)" />
        <input id="destination-button" type="image" src="/images/arrow-button.png" />
        <div id="dates">
          <input type="text" class="tk-proxima-nova inputDate1" style="width: 39%;" name="start_date" value="07/22/2012"/>
          <img class="icon" src="/images/datepicker/calendar.png" />
          <input type="text" class="tk-proxima-nova inputDate2" style="width: 39.5%; margin-left: -3%;" name="end_date" value="07/24/2012"/>
          <img class="icon" src="/images/datepicker/calendar.png" />
        </div>
      </form>
    </p>
  </div>
</div>
<script>
  jQuery(function () 
   {
     $('#destination').focus();     
     
     $('.inputDate1').DatePicker({
     	  format:'m/d/Y',
     	  date: $(this).val(),
     	  current: $(this).val(),
     	  starts: 1,
     	  position: 'r',
     	  onBeforeShow: function(){
          $('.inputDate1').DatePickerSetDate($('.inputDate1').val(), true);
     	  },
     	  onChange: function(formated, dates){
     		  $('.inputDate1').val(formated);
          $('.inputDate1').DatePickerHide();
     	  }
     });
     
     $('.inputDate2').DatePicker({
     	  format:'m/d/Y',
     	  date: $(this).val(),
     	  current: $(this).val(),
     	  starts: 1,
     	  position: 'r',
     	  onBeforeShow: function(){
          $('.inputDate2').DatePickerSetDate($('.inputDate2').val(), true);
     	  },
     	  onChange: function(formated, dates){
     		  $('.inputDate2').val(formated);
          $('.inputDate2').DatePickerHide();
     	  }
     });

     $('#destination').keyup(function() {
       if ($('#destination').val().length > 0) {
         $('#destination-button').fadeIn(); 
         $('#dates').fadeIn();
       }         
     });
     
     jQuery("#destination").autocomplete({
      source: function (request, response) {
       jQuery.getJSON(
        "http://gd.geobytes.com/AutoCompleteCity?callback=?&filter=US&q="+request.term,
        function (data) {
         response(data);
        }
       );
      },
      minLength: 3,
      select: function (event, ui) {
        var value = ui.item.value;
        value = value.substr(0, value.lastIndexOf(","));
        jQuery("#destination").val(value);
        $('li a.ui-corner-all').removeClass('highlight');
        $(this).addClass('highlight');
        return false;
      },
      focus: function( event, ui ) {
        var label = ui.item.label;
        label = label.substr(0, label.lastIndexOf(","));
        $("#destination").val( label );
        $('li a.ui-corner-all').removeClass('highlight');
        $('li a.ui-corner-all').each(function(idx,val) {
          var val = $(this).text();
          if(val == label) {
            $(this).addClass('highlight');
          }
        });
        return false;
      },
      open: function (event, ui) {
        $('.ui-autocomplete').css({ 'width': '501px' });
        $('li.ui-menu-item').css({ 'width': '501px' });
        $('a.ui-corner-all').css({ 'width': '501px' });
        
        var query = $(this).val();
        $('li a.ui-corner-all').addClass('tk-proxima-nova').each(function(data, val) {
          var choice = $(this).text();
          choice = choice.substr(0, choice.lastIndexOf(","));
         $(this).html(choice.replace(query, "<b>"+query+"</b>"));
        })
       jQuery(this).removeClass("ui-corner-all").addClass("ui-corner-top");
      },
      close: function () {
       jQuery(this).removeClass("ui-corner-top").addClass("ui-corner-all");
      }
     });
     jQuery("#destination").autocomplete("option", "delay", 100);
    });
</script>
