<div class="wrapper tk-proxima-nova ">
  <div class="main-wrapper">
    <div class="main-panel">
      <img class="logo" src='/images/logo.png' />
      <h1 style="border-bottom: 0;">Plan a trip for San Francisco</h1>
      <input class="search tk-proxima-nova" type="text" placeholder="Type in a place..."/>
      <div class="chat-wrapper">
        <div class="online">
          <a href="#invite" rel="facebox">Invite someone</a>
          <h1>Currently online</h1>
          <div class="viewer usr1">
            Kah Hong Tay
          </div>
          <div class="viewer usr2">
            Chun Kai Phang
          </div>
          <div class="viewer usr3">
            Dante Tran
          </div>
          <div id="invite">
            <h1>Invite someone <span style="font-weight: normal">or share this link:</span> http://</h1>
            <input type="text" name="email" class="email-invite tk-proxima-nova" placeholder="Enter your friend's email address"/>
            <input type="submit" class="tk-proxima-nova" value="Send invite" />
            <script type="text/javascript">
              $(document).ready(function(){ $('input[type=text]').focus(); })
            </script>
          </div>
        </div>
        <!--<h1>Chat</h1>
        <div class="chat-box">
          <div class="chat usr1">
            <strong>Kah Hong Tay</strong>: Hi Dante!
          </div>
          <div class="chat usr3">
            <strong>Dante Tran</strong>: Hola. I'm going to type a long message here just to see how the chat looks. I'm also very handsome and chicks dig me.
          </div>
          <div class="chat usr1">
            <strong>Kah Hong Tay</strong>: Yup! Sooo awesome.
          </div>
          <div class="chat usr2">
            <strong>Chun Kai Phang</strong>: Whoa yeah. Bongo is legit. Best trip planning app I've ever used in my entire frickin' life.
          </div>
          <div class="chat usr1">
            <strong>Kah Hong Tay</strong>: Hello! How are you? I'm great! So excited!
          </div>
        </div>-->
      </div>
    </div>
  </div>
  <div class="calendar-wrapper">
    <div class="calendar">
      <div class="time-wrapper">
        <div class="time-grey"></div>
        <div class="time" style="background: #684670; margin-top: 1px;">6</div>
        <div class="time" style="background: #9a2f43">7</div>
        <div class="time" style="background: #c44d2d">8</div>
        <div class="time" style="background: #dead28">9</div>
        <div class="time" style="background: #decb28">10</div>
        <div class="time" style="background: #decb28">11</div>
        <div class="time" style="background: #decb28">12</div>
        <div class="time" style="background: #decb28">1</div>
        <div class="time" style="background: #decb28">2</div>
        <div class="time" style="background: #decb28">3</div>
        <div class="time" style="background: #decb28">4</div>
        <div class="time" style="background: #dead28">5</div>
        <div class="time" style="background: #c44d2d">6</div>
        <div class="time" style="background: #9a2f43">7</div>
        <div class="time" style="background: #684670">8</div>
        <div class="time" style="background: #684670">9</div>
        <div class="time" style="background: #684670">10</div>
        <div class="time" style="background: #684670">11</div>
      </div>
      <div class="day">
        <div class="day-header">
          <p>FRIDAY &middot; 07/20</p>
          <div class="stitch"></div>
        </div>
        <div class="event blank hr2"></div>
        <div class="event hr1">
          <div class="usr2">
            <div class="event-item">
              <h1>McDonald's</h1>
            </div>
          </div>
        </div>
        <div class="event hr7">
          <div class="usr1">
            <div class="event-item">
              <img src="http://distilleryimage5.instagram.com/d12ef10879ae11e181bd12313817987b_6.jpg" />
              <h1>Central Park</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="day">
        <div class="day-header">
          <p>SATURDAY &middot; 07/21</p>
          <div class="stitch"></div>
        </div>
      </div>
      <div class="day">
        <div class="day-header">
          <p>SUNDAY &middot; 07/22</p>
          <div class="stitch"></div>
        </div>
      </div>
    </div>  
  </div>
</div>
